{% extends 'layouts/main.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="page-header text-center">
  <h1 style="color: #3EB489">Register</h1>
  <p class="lead">Join the BasketBin community!</p>
</div>

<div class="form-group">
  <label for="name">Username</label>
  <input type="text" class="form-control" id="name" placeholder="Enter your username">
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input type="password" class="form-control" id="password" placeholder="Enter your password">
</div>
<a href="/leaderboard" class="btn btn-custom-grey">Register!</a>

{% endblock %}