{% extends 'layouts/main.html' %}
{% block title %}Leaderboard{% endblock %}
{% block content %}

<div class="page-header text-center">
  <h1>Leaderboard</h1>
  <p class="lead">Top contributors to our recycling efforts!</p>
</div>

<div style="display: flex; justify-content: center;"> <!-- Centering wrapper for the image -->
  <img src="{{ url_for('static', filename='trophy.jpeg') }}" alt="trophy" class="trash"/>
</div>

<div class="leaderboard-container">
  <div class="leaderboard">
    <div class="leaderboard-header">
      <div class="rank">Rank</div>
      <div class="name">Name</div>
      <div class="points">Aura</div>
    </div>
    <div class="leaderboard-body">
        {% if entries %}
          {% for entry in entries %}
            <div class="leaderboard-item">
              <div class="rank">{{ loop.index }}</div>
              <div class="name">{{ entry.name }}</div>
              <div class="points">{{ entry.aura }}</div>
            </div>
          {% endfor %}
        {% else %}
            <p>No entries found.</p>
        {% endif %}
    </div>
    <a href="/leaderboard" class="btn btn-custom-grey">Update Leaderboard</a>
  </div>
</div>

{% endblock %}