{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Garbage and Recycling Machine</h1>
</div>
<p class="lead">An automated waste management solution using advanced sensors and machine learning to sort and process recyclables efficiently, promoting sustainability with real-time monitoring and IoT integration.</p>

<img src="{{ url_for('static', filename='../../screenshots/trash.jpg') }}" alt="trash can" class='trash'>

<div class="how-to-use">
  <h2>How to Use the Garbage Sorting Machine</h2>
  <p>Using the recycling machine is simple and intuitive, ensuring that everyone can contribute to a sustainable environment:</p>
  <ol>
    <li><strong>Sort Your Waste:</strong> Begin by sorting your waste into recyclables and non-recyclables.</li>
    <li><strong>Feed the Machine:</strong> Place your trash into the designated slot on the machine. The advanced sensors will automatically detect the type of material.</li>
    <li><strong>Processing:</strong> The machine uses machine learning algorithms to sort the trash further if needed and processes them accordingly.</li>
    <li><strong>Confirmation:</strong> Once the process is complete, the machine will provide a confirmation of whether the trash belongs in the garbage or the recycling.
    The machine will reward you with points depending on if you choose the right place for the trash to go to</li>
  </ol>
  <p>Thank you for doing your part in keeping our planet clean and green!</p>
</div>

{% endblock %}